<body>
  <section>
    <input type="checkbox" [(ngModel)]="bikes" (change)="Filters($event)" /> Bikes
    <input type="checkbox" [(ngModel)]="components" (change)="Filters($event)" /> Components
    <input type="checkbox" [(ngModel)]="accessories" (change)="Filters($event)" /> Accessories
    <input type="checkbox" [(ngModel)]="clothing" (change)="Filters($event)" /> Clothing    
  </section>
 
  <section>
    <input type="number" #updateId placeholder="Id to update"> 
    <button (click)="getProductInfo(updateId)">Confirm</button>
  </section>

  <section *ngIf="productInfo.productId!=0">
    <td>{{ productInfo.productId }}</td>
    <td>{{ productInfo.productName }}</td>
    <td>{{ productInfo.color }}</td>
    <td>{{ productInfo.listPrice }}</td>
    <td>{{ productInfo.size }}</td>
    <td>{{ productInfo.weight }}</td>
  </section>

  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Color</th>
        <th>List Price</th>
        <th>Size</th>
        <th>Weight</th>
        <th>Product Category</th>
        <th>Product Model</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of allProducts">
        <td>{{ product.productId }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.listPrice }}</td>
        <td>{{ product.size }}</td>
        <td>{{ product.weight }}</td>
        <td>{{ product.productCategory }}</td>
        <td>{{ product.productModel }}</td>
      </tr>
    </tbody>
  </table>
</body>
  