
.new-arrivals-title {
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  font-size: 1.5em;
  color: #ffbb00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #2f3640; 
  padding: 10px; 
  border-radius: 10px; 
  margin: 5px 0; 
  width: 100%; 
  box-sizing: border-box; 
}

.product-card {
  background-color: #000000;
  border-radius: 10px;
  color: #2f3640;
  transition: all linear .2s;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px auto; 
}

.product-card:hover,
.product-card:active {
  box-shadow: .2em .5em .5em rgba(0, 0, 0, 0.4);
  transform: scale(1.04);
}

.product-img {
  border-radius: 10px 10px 0 0;
  height: 150px;
  max-width: 100%;
}

.img-one {
  background-image: url(https://images.unsplash.com/photo-1517394834181-95ed159986c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80);
}

.img-two {
  background-image: url(https://images.unsplash.com/photo-1523889310790-cb91a98b017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
}

.img-three {
  background-image: url(https://images.unsplash.com/photo-1566940973973-d499f3993bf4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
}

.img-one,
.img-two,
.img-three {
  background-size: cover;
  background-position: center;
}

.product-text {
  padding: 1em;
  text-align: center;
  font-size: 70%;
  color: rgb(255, 255, 255);
}

.product-cart button {
  border: 0;
  border-radius: 0 0 10px 10px;
  color: #f5f6fa;
  cursor: pointer;
  font-family: inherit;
  padding: 1em;
  text-transform: uppercase;
  transition: all linear .3s;
  width: 100%;
}

.product-cart button:hover {
  font-weight: 500;
  letter-spacing: .1em;
}

.product-card:last-child button {
  background-color: #000000;
}

.category {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

a {
  margin-left: 25px;
  font-family: 'Arial Black', Gadget, sans-serif; /* Usa una famiglia di font più interessante */
  font-size: 20px;
  color: rgb(203, 203, 238);
  text-decoration: none; /* Rimuovi la sottolineatura */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Aggiungi un'ombra al testo */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Aggiungi una transizione per l'effetto hover */
}

a:hover {
  color: rgb(153, 153, 255); /* Cambia il colore al passaggio del mouse */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Aumenta l'ombra al passaggio del mouse */
}

swiper-slide {
  display: flex;
  justify-content: center;
}

swiper-container{
  border: 5px solid #2f3640; 
  border-radius: 30px; 
  width: 100%;
}

/* media queries */
@media screen and (max-width: 860px) {
  .container {
      display: grid;
      grid-auto-rows: auto;
  }

  .product-card {
      margin: 1.5em;
  }
}

