<p class="new-arrivals-title">New arrivals</p>
<swiper-container  loop="true" navigation="true" slides-per-view="3" speed="500">
  <swiper-slide>
      <div class="product-card">
          <div class="product-img img-one"></div>
          <div class="product-text">
            <h3>Clothing</h3>
            <p> Women's Mountain Shorts, S</p>
          </div>
        </div>
  </swiper-slide>
  <swiper-slide>
      <div class="product-card">
          <div class="product-img img-two"></div>
          <div class="product-text">
            <h3>Bike</h3>
            <p> Road-450 Red, 60 </p>
          </div>
        </div>
  </swiper-slide>
  <swiper-slide>
      <div class="product-card">
          <div class="product-img img-three"></div>
          <div class="product-text">
            <h3>Accessories</h3>
            <p> Minipump </p>
          </div>
        </div>
  </swiper-slide>
  <swiper-slide>
      <div class="product-card">
          <div class="product-img img-four"></div>
          <div class="product-text">
            <h3>Clothing</h3>
            <p> Long-Sleeve Logo Jersey, XL
            </p>
          </div>
        </div>
  </swiper-slide>
  <swiper-slide>
      <div class="product-card">
          <div class="product-img img-five"></div>
          <div class="product-text">
            <h3>Bike</h3>
            <p> Mountain-300 Black, 48 </p>
          </div>
        </div>
  </swiper-slide>
  <swiper-slide>
      <div class="product-card">
          <div class="product-img img-six"></div>
          <div class="product-text">
            <h3>Components</h3>
            <p> LL Road Pedal </p>
          </div>
        </div>
  </swiper-slide>
</swiper-container>
