<p class="new-arrivals-title">Nuovi arrivi</p>

<swiper-container loop="true" navigation="true" slides-per-view="4" speed="500" autoplay="true" style="border: 5px solid #2f3640; border-radius: 30px; width: 100%;">
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-one"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p> Prezzo: Modello:</p>
            </div>
            <div class="product-cart">
              <button type="submit">Add to cart</button>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-two"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p>Prezzo: Modello:</p>
            </div>
            <div class="product-cart">
              <button type="submit">Add to cart</button>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-three"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p>Prezzo: Modello:</p>
            </div>
            <div class="product-cart">
              <button type="submit">Add to cart</button>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-three"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p>Prezzo: Modello:</p>
            </div>
            <div class="product-cart">
              <button type="submit">Add to cart</button>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-one"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p>Prezzo: Modello:</p>
            </div>
            <div class="product-cart">
              <button type="submit">Add to cart</button>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-one"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p>Prezzo: Modello:</p>
            </div>
            <div class="product-cart">
              <button type="submit">Add to cart</button>
            </div>
          </div>
    </swiper-slide>
</swiper-container>
