<div class="container">
    <div class="card">

        <div class="contImage">
            <img id="productImage" src="/assets/BC.jpeg">
        </div>
        <label class="fileContainer">
            <h2>
                Upload image
            </h2>
            <input type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
        </label>
        <input type="text" placeholder="ProductName" [(ngModel)]="newProduct.Name">
        <input type="text" placeholder="ProductNumber" [(ngModel)]="newProduct.ProductNumber">
        <input type="number" placeholder="StandardCost" [ngModel]="newProduct.ListPrice || null"
            (ngModelChange)="newProduct.ListPrice = $event || 0">
        <input type="number" placeholder="ListPrice" [ngModel]="newProduct.StandardCost || null"
            (ngModelChange)="newProduct.StandardCost = $event || 0">
          
            <select [(ngModel)]="newProduct.ProductCategoryID">
                <option value="" disabled selected hidden>Categoria</option>
                <option *ngFor="let category of productCategories" [value]="category.id">{{category.name}}</option>
            </select>
            

            <input type="number" placeholder="productModelId" [ngModel]="newProduct.productModelId || null"
            (ngModelChange)="newProduct.productModelId = $event || 0">
      
        <button (click)="addProduct()">Add</button>
    </div>


</div>