body {
    font-family: Arial, sans-serif;
    background-color: black;
    padding: 20px;
    margin-top: 70px;
}

h2 {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: #fff;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;  /* Increased font size for better visibility */
    letter-spacing: 2px;  /* Added letter spacing for a stylish look */
    text-transform: uppercase;  /* Transform text to uppercase */
    border-bottom: 2px solid goldenrod;  /* Added a bottom border for emphasis */
    margin-bottom: 20px;  /* Added margin at the bottom for spacing */
}

pre p:first-child {
    text-align: center;
    font-weight: bold;
    color: #555;
    color: goldenrod;
    font-size: 30px;
}

pre p:nth-child(2) {
    text-align: center;
    color: #777;
    color: goldenrod;
    font-size: 20px;
}

li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

li .productName {
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

li .listPrice {
    color: #007bff;
    font-size: 16px;
}

li .productModel {
    color: #555;
    font-size: 14px;
}

li .productCategory {
    color: #555;
    font-size: 14px;
}

li .color {
    color: #555;
    font-size: 14px;
}

li .size {
    color: #555;
    font-size: 14px;
}

li .weight {
    color: #555;
    font-size: 14px;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    
    /* height: auto; */
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

.container {
    display: grid;
    align-items: center; 
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
   }

   .product-cart button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-cart button:hover {
    background-color: #45a049;
  }