<body>
    <h2>Search bar results</h2>
    
    <pre *ngIf="filteredResult.length>0"> 
        <p>What you searched: "{{searchParameter}}"</p>
        <p>{{filteredResult.length}} Found results:</p>
    <div class="container">
    <li *ngFor="let r of filteredResult, index as j" > 
    {{r.productName}} 
    {{r.listPrice}} $ 
    {{r.productModel}} in {{r.productCategory}} ({{r.mainCategory}})
    {{r.color}} - {{r.size}} - {{(r.weight/1000).toFixed(1)}} kg 
    <div class="product-img">
    <img [src]="r.largeImage" alt="{{r.productName}}" />
    </div>
    <div class="product-cart">
        <button (click)="cart.AddProductToCart(filteredResult[j])" type="submit">Add to cart</button>
    </div>
    </li>
    </div>
    </pre>    
</body>
