@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  padding: 0 1.5rem;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  color: #333;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section_title {
    margin-top: 8%;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;  /* Increased font size for better visibility */
    letter-spacing: 2px;  /* Added letter spacing for a stylish look */
    text-transform: uppercase;  /* Transform text to uppercase */
    border-bottom: 2px solid goldenrod;  /* Added a bottom border for emphasis */
    margin-bottom: 20px;  /* Added margin at the bottom for spacing */
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

.articles {
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.article {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  padding: 2rem;
  background-color: white;
  margin-top: 3rem;
}

.article:hover img {
  transform: scale(1.05);
}

.article:hover .read_more {
  opacity: 1;
  z-index: 1;
}

.article:hover .author {
  opacity: 0;
  z-index: -1;
}

.article a {
  color: #333;
}

.preview {
  position: relative;
  margin-bottom: 1.3rem;
  overflow: hidden;
  margin-top: -4rem;
  width: 100%;
  padding-bottom: 50%;
}

.preview .stretch {
  position: absolute;
}

.preview img {
  vertical-align: middle;
  transition: all 0.25s ease-in-out;
}

.cat {
  margin-bottom: 1rem;
  padding: 0.4rem 0.5rem;
  align-self: flex-start;
}

.cat a {
  color: #fff;
}

.bici-da-corsa {
  background-color: rgba(43, 158, 179, 0.8);
}

.bici-da-corsa:hover {
  background-color: rgba(43, 158, 179, 1);
}

.mountain-bike {
  background-color: rgba(247, 23, 53, 0.8);
}

.mountain-bike:hover {
  background-color: rgba(247, 23, 53, 1);
}

.cat,
.article_footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 2.5rem;
  font-size: 1.7rem;
}

.article_footer {
  border-top: 1px solid #e2e2e2;
  margin-top: auto;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.author,
.read_more {
  display: block;
  grid-column: 1;
  grid-row: 1;
  transition: all 0.3s ease-out;
}

.read_more {
  opacity: 0;
  z-index: -1;
}

.read_more a {
  display: block;
}

.read_more:hover a {
  color: #2b9eb3;
}

.author {
  z-index: 1;
}
