<div class="wrapper">
    <h2 class="section_title">Recent Articles</h2>
    <div class="articles">
      <div class="article">
        <div class="preview">
          <div class="stretch"><a href="#"
          ><img src="https://www.fayetteville-ar.gov/ImageRepository/Document?documentID=31215" alt="Article Image"
          /></a></div>
        </div>
        <div class="cat bici-da-corsa"><a href="#">Bici Da Corsa</a></div>
        <h3 class="title"><a href="#">Prova Titolo</a></h3>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida eros id dolor rhoncus tincidunt. Nulla facilisi. Nullam sit amet nulla vel mauris vestibulum scelerisque nec nec sapien. 
        </p>
        <footer class="article_footer">
          <span class="author">Autore</span>
          <span class="read_more"><a href="#">Read More &#8594;</a></span>
        </footer>
      </div>
      <div class="article ">
        <div class="preview">
          <div class="stretch"><a href="#"
          ><img src="https://cdn.stocksnap.io/img-thumbs/960w/SJWJRHWNW5.jpg" alt="Article Image"
          /></a></div>
        </div>
        <div class="cat mountain-bike"><a href="#">Mountain Bike</a></div>
        <h3 class="title"><a href="#">Prova Titolo 2</a></h3>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida eros id dolor rhoncus tincidunt. Nulla facilisi. Nullam sit amet nulla vel mauris vestibulum scelerisque nec nec sapien.
        </p>
        <footer class="article_footer">
          <span class="author">Autore</span>
          <span class="read_more"><a href="#">Read More &#8594;</a></span>
        </footer>
      </div>
      <div class="article ">
        <div class="preview">
          <div class="stretch"><a href="#"
          ><img src="https://cdn.stocksnap.io/img-thumbs/960w/SJWJRHWNW5.jpg" alt="Article Image"
          /></a></div>
        </div>
        <div class="cat mountain-bike"><a href="#">Mountain Bike</a></div>
        <h3 class="title"><a href="#">Prova Titolo 2</a></h3>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida eros id dolor rhoncus tincidunt. Nulla facilisi. Nullam sit amet nulla vel mauris vestibulum scelerisque nec nec sapien.
        </p>
        <footer class="article_footer">
          <span class="author">Autore</span>
          <span class="read_more"><a href="#">Read More &#8594;</a></span>
        </footer>
      </div>
      <div class="article ">
        <div class="preview">
          <div class="stretch"><a href="#"
          ><img src="https://cdn.stocksnap.io/img-thumbs/960w/SJWJRHWNW5.jpg" alt="Article Image"
          /></a></div>
        </div>
        <div class="cat mountain-bike"><a href="#">Mountain Bike</a></div>
        <h3 class="title"><a href="#">Prova Titolo 2</a></h3>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida eros id dolor rhoncus tincidunt. Nulla facilisi. Nullam sit amet nulla vel mauris vestibulum scelerisque nec nec sapien.
        </p>
        <footer class="article_footer">
          <span class="author">Autore</span>
          <span class="read_more"><a href="#">Read More &#8594;</a></span>
        </footer>
      </div>
    </div>
  </div>