<div class="wrapper">
  <h2 class="section_title">Recent Articles</h2>
  <div class="articles">
      <div class="article">
          <div class="preview">
              <div class="stretch"><img src="https://media.istockphoto.com/id/477445662/photo/professional-road-cyclist.jpg?s=612x612&w=0&k=20&c=eFMux1Cr6h0UE5EOgl_XTzwO52ha9hisg0YPDES-Z2A=" alt="Article Image" /></div>
          </div>
          <div class="cat bici-da-corsa"><a href="#">Road Bikes</a></div>
          <h3 class="title">Road-450 Red, 60: Innovation and Lightweight Performance</h3>
          <p class="description">
              The new Road-450 Red, 60 aims to raise the bar for road bike performance. With a redesigned frame and cutting-edge technologies, this bike offers the perfect blend of lightweight construction, stiffness, and aerodynamics.
          </p>
          <footer class="article_footer">
              <span class="author">Author</span>
              <span class="read_more"><a>Read More &#8594;</a></span>
          </footer>
      </div>
      <div class="article">
          <div class="preview">
              <div class="stretch"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3ijnsGpQuIVMJ1sSbz-8lxuBHPnA6-9ArTQ&s" alt="Article Image" /></div>
          </div>
          <div class="cat mountain-bike"><a href="#">Mountain Bike</a></div>
          <h3 class="title">Essential Mountain Bike Maintenance Tips</h3>
          <p class="description">
              Maintaining your mountain bike is crucial to ensuring its longevity and optimal performance on the trails. Here are some essential tips to keep your bike in top condition:
          </p>
          <footer class="article_footer">
              <span class="author">Author</span>
              <span class="read_more"><a>Read More &#8594;</a></span>
          </footer>
      </div>
      <div class="article">
          <div class="preview">
              <div class="stretch"><img src="https://i.pinimg.com/736x/37/53/77/37537778de8f320e0888a962844e3bd7.jpg" alt="Article Image" /></div>
          </div>
          <div class="cat mountain-bike"><a href="#">Clothing</a></div>
          <h3 class="title">Pedal in Style: Essential Cycling Apparel for Comfort and Performance</h3>
          <p class="description">
              Cycling apparel plays a crucial role in enhancing your comfort and performance on the bike. Here are some essential pieces every cyclist should have in their wardrobe:
          </p>
          <footer class="article_footer">
              <span class="author">Author</span>
              <span class="read_more"><a>Read More &#8594;</a></span>
          </footer>
      </div>
  </div>
</div>
