<body>
    <!-- <h3>Registration Form</h3>

    <form class="registration-form" #frmRegistration="ngForm" (ngSubmit)="Registration(frmRegistration)">

        <input type="text" placeholder="Name" #nameInput="ngModel" minlength="1" maxlength="20" name="nameInput"
            [(ngModel)]="newRegistration.firstName">

        <input type="text" placeholder="Surname" #surnameInput="ngModel" minlength="1" maxlength="20"
            name="surnameInput" [(ngModel)]="newRegistration.lastName">

        <input type="email" placeholder="Email [required]" #emailInput="ngModel" minlength="1" maxlength="70"
            name="emailInput" [(ngModel)]="newRegistration.emailAddress" required>

        <input type="tel" placeholder="Phone" #phoneInput="ngModel" minlength="10" maxlength="10" name="phoneInput"
            [(ngModel)]="newRegistration.phone">

        <input type="text" placeholder="Password [required]" #passwordInput="ngModel" minlength="8" maxlength="32"
            name="passwordInput" [(ngModel)]="newRegistration.password" required>

        <input type="text" placeholder="Confirm Password [required]" #confirmPasswordInput="ngModel"
            name="confirmPasswordInput" [(ngModel)]="confirmPasswordInput" required>

        <button type="submit" [disabled]="frmRegistration.invalid">Register</button>
    </form> -->


    <!-- New Registration -->
    <!-- Bisogna sistemarlo un attimo: login, dimensioni... -->
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form #frmRegistration="ngForm" (ngSubmit)="Registration(frmRegistration)">

                <!-- <h1>Create Account</h1> -->
                <h1>Sign Up</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" #nameInput="ngModel" minlength="1" maxlength="20" name="nameInput"
                    [(ngModel)]="newRegistration.firstName">

                <input type="text" placeholder="Surname" #surnameInput="ngModel" minlength="1" maxlength="20"
                    name="surnameInput" [(ngModel)]="newRegistration.lastName">

                <input type="email" placeholder="Email [required]" #emailInput="ngModel" minlength="1" maxlength="70"
                    name="emailInput" [(ngModel)]="newRegistration.emailAddress" required>

                <input type="tel" placeholder="Phone" #phoneInput="ngModel" minlength="10" maxlength="10"
                    name="phoneInput" [(ngModel)]="newRegistration.phone">

                <input type="text" placeholder="Password [required]" #passwordInput="ngModel" minlength="8"
                    maxlength="32" name="passwordInput" [(ngModel)]="clearPassword" required>

                <input type="text" placeholder="Confirm Password [required]" #confirmPasswordInput="ngModel"
                    name="confirmPasswordInput" [(ngModel)]="confirmPassword" required>
                <button type="submit">Register</button>
            </form>

        </div>

        <!-- Parte del login da trasformare in un form -->
        <div class="form-container sign-in-container">

            <form action="#">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="text" placeholder="username" name="user" #username><br>
		        <input type="password" placeholder="password" name="password" #password><br>
		        <input type="button" value="Login" (click)="Login(username, password)">

            </form>

        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start your journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</body>