body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    margin-top: 8%;
    margin-bottom: 2%;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: #fff;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;  /* Increased font size for better visibility */
    letter-spacing: 2px;  /* Added letter spacing for a stylish look */
    text-transform: uppercase;  /* Transform text to uppercase */
    border-bottom: 2px solid goldenrod;  /* Added a bottom border for emphasis */
    margin-bottom: 20px;  /* Added margin at the bottom for spacing */
}


.cart-container {
    width: 80%;
    position: sticky;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-items ul {
    list-style: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.product-info {
    flex-grow: 1;
}

.product-info h3 {
    margin: 0 0 10px;
}

.product-info p {
    margin: 5px 0;
}

.product-image {
    width: 150px; /* Increased width */
    height: auto;
    margin-right: 300px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

button[type="submit"]:last-of-type {
    background-color: #007bff;
}

button[type="submit"]:last-of-type:hover {
    background-color: #0056b3;
}

.cart-summary {
    text-align: right;
}

.cart-summary h2 {
    margin-bottom: 20px;
}

.cart-summary button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-summary button:hover {
    background-color: #0056b3;
}
