<body>

    <h1>CARRELLO</h1>

    <div class="cart-container">

        <div *ngIf="cart.selectedProducts" class="cart-items">
            <ul>
                <li *ngFor="let p of cart.selectedProducts; index as m">
                    <div class="product-info">
                        <h3>{{p.product.productName}}</h3>
                        <p>Color: {{p.product.color}}</p>
                        <p>Size: {{p.product.size}}</p>
                        <p>Price: {{p.product.listPrice}} $</p>
                        <h3>Quantità: {{p.quantity}}</h3>
                    </div>
                    <img *ngIf="p.product.largeImage" [src]="p.product.largeImage" alt="Product Image" class="product-image">
                    <button (click)="cart.Remove(cart.selectedProducts[m])" type="submit">-</button> <button (click)="cart.Add(cart.selectedProducts[m])" type="submit">+</button>
                    
                </li>
            </ul>
        </div>

        <div class="cart-summary">
            <h2>Totale ordine: {{(cart.total).toFixed(2)}} $</h2>
            <h2>aggiungere un riepilogo per tasse, spedizione e totale complessivo prima di "ordina e paga"?</h2>
            <button (click)="cart.OrderAndPay()" type="submit">Ordina & Paga</button>
        </div>

    </div>

</body>
