<div class="video-container">
  <video src="assets/video.mp4" autoplay muted loop></video>
  <div class="overlay-text">{{ currentPhrase }}</div>
</div>

<div class="cont_carousels" style="padding: 0px;">
  <app-nuovi-arrivi></app-nuovi-arrivi>
  <div class="image-container">
    <img src="assets/Bikes.jpg" class="darkened-image">
    <div class="text-overlay">
      <p class="text-slide">Let's move together!</p>
      <p class="text-slide">Discover the bike that's right for you!</p>
    </div>
  </div>

</div>

<div class="cont_carousels" style="padding: 0px;">
  <div class="image-container">
    <img src="assets/san-francisco-6950837_1280.jpg" class="darkened-image">
    <div class="text-overlay">
      <p class="text-slide">Let's move together!</p>
      <p class="text-slide">Discover the bike that's right for you!</p>
    </div>
  </div>
  <app-piu-venduti></app-piu-venduti>
</div>

<app-footer></app-footer>
<app-cookie-banner></app-cookie-banner>
