<div id="cover">
    <div class="cover-content">
      <h1>Yours Bikes, Yours Rules!</h1>
      <h2>Scopri la Tua Bicicletta Perfetta</h2>
      <a href="#" class="btn">Let's Shopping!</a>
    </div>
  </div>

  <div class="products">
    <h3 class="blue">Best Sellers</h3>
    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike.png">
      <h3>Road-150 Red, 62</h3>
      <p>This bike is ridden by race winners. Developed with the Adventure Works Cycles professional race team, it has a extremely light heat-treated aluminum frame, and steering that allows precision control.</p>
      <h4>$3,578.27</h4>
      <a href="#" class="btn">Buy</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike2.png">
      <h3>Mountain-100 Silver, 38</h3>
      <p>Top-of-the-line competition mountain bike. Performance-enhancing options include the innovative HL Frame, super-smooth front suspension, and traction for all terrain.</p>
      <h4>$3,399.99</h4>
      <a href="#" class="btn">Buy</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike3.png">
      <h3>Mountain-300 Black, 48</h3>
      <p>For true trail addicts. An extremely durable bike that will go anywhere and keep you in control on challenging terrain - without breaking your budget.</p>
      <h4>$1,079.99</h4>
      <a href="#" class="btn">Buy</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike4.png">
      <h3>Road-550-W Yellow, 38</h3>
      <p>Same technology as all of our Road series bikes, but the frame is sized for a woman. Perfect all-around bike for road or racing. Engineered for optimal performance and comfort</p>
      <h4>$1,120.49</h4>
      <a href="#" class="btn">Buy</a>
    </div>
  </div>

  <div class="products">
    <h3 class="blue">Newest Bikes</h3>
    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike5.png">
      <h3>Mountain-400-W Silver, 46</h3>
      <p>This bike delivers a high-level of performance on a budget. It is responsive and maneuverable, and offers peace-of-mind when you decide to go off-road.</p>
      <h4>$769.49</h4>
      <a href="#" class="btn">Buy</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike6.png">
      <h3>Mountain-500 Silver, 48</h3>
      <p>Suitable for any type of riding, on or off-road. Fits any budget. Smooth-shifting with a comfortable ride.</p>
      <h4>$564.99</h4>
      <a href="#" class="btn">Buy</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike7.png">
      <h3>Road-750 Black, 44</h3>
      <p>Entry level adult bike; offers a comfortable ride cross-country or down the block. Quick-release hubs and rims.</p>
      <h4>$539.99</h4>
      <a href="#" class="btn">Buy</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike8.png">
      <h3>Road-650 Black, 52</h3>
      <p>Value-priced bike with many features of our top-of-the-line models. Has the same light, stiff frame, and the quick acceleration we're famous for.</p>
      <h4>$782.99</h4>
      <a href="#" class="btn">Buy</a>
    </div>
  </div>

<app-footer></app-footer>