<body>
    <h3>Registration Form</h3>

    <form class="registration-form" #frmRegistration="ngForm" (submit)="Registration(frmRegistration)">
        
        <input type="text" placeholder="Name" #nameInput="ngModel" 
            minlength="1" maxlength="20" name="Name" [(ngModel)]="newRegistration.firstName" required>

        <input type="text" placeholder="Surname" #surnameInput="ngModel" 
            minlength="1" maxlength="20" name="Surname" [(ngModel)]="newRegistration.lastName" required>

        <input type="email" placeholder="Email [required]" #emailInput="ngModel" required
            minlength="1" maxlength="70" name="Email" [(ngModel)]="newRegistration.emailAddress">

        <input type="tel" placeholder="Phone" #phoneInput="ngModel"
            minlength="10" maxlength="10" name="Phone" [(ngModel)]="newRegistration.phone">

        <input type="password" placeholder="Password [required]" #passwordInput="ngModel" required
            minlength="8" maxlength="16"  name="Password" [(ngModel)]="newRegistration.password">

        <button type="submit" [disabled]="frmRegistration.invalid">Register</button>
    </form>
</body>
