<body>
    <div class="container">
        <h1>Privacy Policy</h1>
        <p><strong>Introduction</strong><br>
        Welcome to the BetaCycle website (hereinafter, "We"). Your privacy is important to us. This privacy policy describes how we collect, use, disclose, and protect your personal data when you visit our website: <a href="http://localhost:4200/">http://localhost:4200/</a> (hereinafter, the "Site").</p>

        <h2>Data Collected</h2>

        <p><strong>Personal Data</strong><br>
        <ul>
            <li>Contact Information: full name, email, phone number, full address.</li>
            <li>Registration Data: username (email), password.</li>
            <li>Transaction Data: payment information, purchase history, etc.</li>
        </ul>
        

        <p><strong>Browsing Data</strong><br>
        <ul>
            <li>IP Address</li>
            <li>Log Data: pages visited, access time, and last modification.</li>
            <li>Cookies and Similar Technologies: for more details, please refer to our Cookie Policy.</li>
        </ul>
        

        <h2>Data Usage</h2>
        <p>We use your data to:
        <ul>
            <li>Provide and manage our services.</li>
            <li>Personalize your experience on our site.</li>
            <li>Improve our website and services.</li>
            <li>Send promotional communications and updates.</li>
            <li>Respond to inquiries and provide customer support.</li>
        </ul>
        

        <h2>Data Sharing</h2>
        <p>We may share your data with:
        <ul>
            <li>Service Providers: third parties that help us manage the site and provide our services.</li>
            <li>Competent Authorities: regarding legal proceedings in accordance with art. 6.c GDPR.</li>
            <li>Business Partners: with your consent, for marketing and promotional purposes.</li>
        </ul>
        

        <h2>Data Security</h2>
        <p>We adopt technical (encryption algorithms) and organizational security measures to protect your personal data from unauthorized access, disclosure, alteration, or destruction.</p>

        <h2>User Rights</h2>
        <p>You have the right to:
        <ul>
            <li>Access your personal data (in accordance with art. 15 GDPR).</li>
            <li>Request the correction or deletion of your data (in accordance with art. 16 and 17 GDPR).</li>
            <li>Object to the processing of your data (in accordance with art. 18 GDPR).</li>
            <li>Request the portability of your data (in accordance with art. 20 GDPR).</li>
            <li>Not be subject to decisions resulting from automated processing (art. 22 GDPR).</li>
        </ul>
        

        <p>To exercise your rights, contact us at the email address: <a href="mailto:policy@betacyclepadova.it">policy&#64;betacyclepadova.it</a></p>

        <h2>Changes to This Policy</h2>
        <p>This privacy policy will be updated periodically to be as clear and transparent as possible about the new features we are still implementing. We will inform you of any changes by posting the new policy on our site.</p>

        <h2>Contact</h2>
        <div class="contact-info">
            <p>If you have any questions about our privacy policy, please do not hesitate to contact us:</p>
            <p><strong>BETACYCLE_PADOVA</strong><br>
            Via delle Biciclette 1, Padova<br>
            <a href="mailto:policy@betacyclepadova.it">policy&#64;betacyclepadova.it</a><br>
            0444.12345</p>
        </div>
    </div>
</body>



<!--Italian Version-->
<!-- <body>
    <div class="container">
        <h1>Informativa sulla Privacy</h1>
        <p><strong>Introduzione</strong><br>
        Benvenuto/a nel sito BetaCycle (di seguito, “Noi”). La tua privacy è importante per noi. Questa informativa sulla privacy descrive come raccogliamo, utilizziamo, divulghiamo e proteggiamo i tuoi dati personali quando visiti il nostro sito web: <a href="http://localhost:4200/">http://localhost:4200/</a> (di seguito, il "Sito").</p>

        <h2>Dati Raccolti</h2>

        <p><strong>Dati Personali</strong><br>
        <ul>
            <li>Informazioni di Contatto: nome completo, e-mail, numero di telefono, indirizzo completo.</li>
            <li>Dati di Registrazione: username (e-mail), password.</li>
            <li>Dati di Transazione: informazioni di pagamento, cronologia degli acquisti, ecc.</li>
        </ul>
        

        <p><strong>Dati di Navigazione</strong><br>
        <ul>
            <li>Indirizzo IP</li>
            <li>Dati di Log: pagine visitate, ora di accesso e ultima modifica.</li>
            <li>Cookie e Tecnologie Simili: per ulteriori dettagli, consulta la nostra Cookie Policy.</li>
        </ul>
        

        <h2>Utilizzo dei Dati</h2>
        <p>Utilizziamo i tuoi dati per:
        <ul>
            <li>Fornire e gestire i nostri servizi.</li>
            <li>Personalizzare la tua esperienza sul nostro sito.</li>
            <li>Migliorare il nostro sito web e i nostri servizi.</li>
            <li>Inviare comunicazioni promozionali e aggiornamenti.</li>
            <li>Rispondere a richieste e fornire assistenza clienti.</li>
        </ul>
        

        <h2>Condivisione dei Dati</h2>
        <p>Potremmo condividere i tuoi dati con:
        <ul>
            <li>Fornitori di Servizi: terze parti che ci aiutano a gestire il sito e fornire i nostri servizi.</li>
            <li>Autorità Competenti: per quanto riguarda procedimenti legali in conformità all'art 6.c GDPR.</li>
            <li>Partner Commerciali: con il tuo consenso, per finalità di marketing e promozionali.</li>
        </ul>
        

        <h2>Sicurezza dei Dati</h2>
        <p>Adottiamo misure di sicurezza tecniche (algoritmi di cifratura) e organizzative per proteggere i tuoi dati personali da accessi non autorizzati, divulgazione, alterazione o distruzione.</p>

        <h2>Diritti dell'Utente</h2>
        <p>Hai il diritto di:
        <ul>
            <li>Accedere ai tuoi dati personali (in conformità all'art 15 GDPR).</li>
            <li>Richiedere la correzione o la cancellazione dei tuoi dati (in conformità all'art 16 e 17 GDPR).</li>
            <li>Opporsi al trattamento dei tuoi dati (in conformità all'art.18 GDPR).</li>
            <li>Richiedere la portabilità dei tuoi dati (in conformità all'art. 20 GDPR).</li>
            <li>Non essere sottoposto a decisioni derivanti da un trattamento automatizzato (art. 22 GDPR).</li>
        </ul>
        

        <p>Per esercitare i tuoi diritti, contattaci all'indirizzo e-mail: <a href="mailto:policy@betacyclepadova.it">policy&#64;betacyclepadova.it</a></p>

        <h2>Modifiche a Questa Informativa</h2>
        <p>Questa informativa privacy verrà aggiornata periodicamente in modo da essere i più chiari e trasparenti possibili circa le nuove funzionalità che stiamo ancora implementando. Ti informeremo di eventuali modifiche pubblicando la nuova informativa sul nostro sito.</p>

        <h2>Contatti</h2>
        <div class="contact-info">
            <p>Se hai domande sulla nostra informativa sulla privacy, non esitare a contattarci:</p>
            <p><strong>BETACYCLE_PADOVA</strong><br>
            Via delle Biciclette 1, Padova<br>
            <a href="mailto:policy@betacyclepadova.it">policy&#64;betacyclepadova.it</a><br>
            0444.12345</p>
        </div>
    </div>
</body> -->