<body>
<mat-drawer-container class="clothing-container">
<mat-drawer mode="side" opened>
    <h2>Abbigliamento</h2>

    <button (click)="GetFiltered()">Filtra</button>  
    
    <button (click)="GetAll()">Rimuovi Tutti i Filtri</button>

    <div class='parent'>
        <div class='child'>
            <ul> <p>Colore</p> 
                <li *ngFor="let col of view.viewProperties.availableColors">
                    <input type="checkbox" [(ngModel)]="selectedColors[col]"> {{col}}
                </li>
            </ul>            
        </div>
        
        <div class='child'>
            <ul> <p>Categoria</p> 
                <li *ngFor="let cat of view.viewProperties.availableCategories">
                    <input type="checkbox" [(ngModel)]="selectedCategories[cat]"> {{cat}}
                </li>
            </ul>            
        </div>

        <div class='child'>
            <ul> <p>Taglia</p> 
                <li *ngFor="let s of view.viewProperties.availableSizes">
                    <input type="checkbox" [(ngModel)]="selectedSizes[s]"> {{s}}
                </li>
            </ul>            
        </div>

        <div class='child'>
            <ul> <p>Prezzo</p> 
                <li> <input  type="checkbox" [(ngModel)] = "priceAscending" [disabled]="priceDescending"> Prezzo Crescente </li>
                <!-- (change)="ifAscending($event)" -->
                <li> <input  type="checkbox" [(ngModel)] = "priceDescending" [disabled]="priceAscending"> Prezzo Decrescente </li>          
                <!-- (change)="ifDescending($event)" -->
                <li *ngFor="let pRange of view.priceIntervals, index as i">
                    <input type="checkbox" [(ngModel)]="selectedPriceRange[i]"> Da {{pRange}} $
                        <!-- (change)="checkPrice($event)" [disabled]="checkedPrices[i]" -->                        
                </li>
            </ul>          
        </div>
    </div>
</mat-drawer>   

<mat-drawer-content>
    <div *ngIf="view.allItems">
        <div class="product-card" *ngFor="let a of view.allItems">
            <div class="product-img">
                <img [src]="a.img" alt="{{a.productName}}" />
            </div>
            <div class="product-text">
                <h3>{{a.productName}}</h3>
                <p>color: {{a.color}}</p>
                <p>category: {{a.productCategory}}</p>
                <p>size: {{a.size}}</p>
                <p>price: {{a.listPrice}}</p>
            </div>
            <div class="product-cart">
                <button type="submit">Add to cart</button>
            </div>
        </div> 
    </div>
</mat-drawer-content>

</mat-drawer-container>
</body>
