<body>
    <div class="container">
        <h1>Cookie Policy</h1>
        <p><strong>What Are Cookies</strong><br>
        Cookies are small text files that are saved on your device when you visit our site. 
        We use cookies to ensure a good experience on our site.</p>

        <h2>Types of Cookies Used</h2>

        <p><strong>Necessary Cookies</strong><br>
        These cookies are essential for the functioning of the site and cannot be disabled in our systems. They are also called Technical Cookies, which serve to manage your session.</p>

        <p><strong>Performance Cookies</strong><br>
        These cookies help us understand how visitors interact with the site by collecting and reporting information anonymously.</p>

        <p><strong>Functionality Cookies</strong><br>
        These cookies enable the site to provide enhanced functionality and personalization.</p>

        <p><strong>Targeting Cookies</strong><br>
        These cookies may be set through our site by our advertising partners to create a profile of your interests and show you relevant ads on other sites.</p>

        <h2>Managing Cookies</h2>
        <p>You can manage your cookie preferences through your browser settings. However, disabling some cookies may affect your browsing experience on our site.</p>

        <h2>Changes to This Cookie Policy</h2>
        <p>This Cookie Policy will be updated periodically to be as clear and transparent as possible about the new features we are still implementing. We will inform you of any changes by posting the new version on our site.</p>

        <h2>Contact</h2>
        <div class="contact-info">
            <p>If you have any questions about our cookie policy, please do not hesitate to contact us:</p>
            <p><strong>BETACYCLE_PADOVA</strong><br>
            Via delle Biciclette 1, Padova<br>
            <a href="mailto:policy@betacyclepadova.it"> policy&#64;betacyclepadova.it </a><br>
            0444.12345</p>
        </div>
    </div>
</body>


<!--Italian Version-->
<!-- <body>
    <div class="container">
        <h1>Cookie Policy</h1>
        <p><strong>Cosa Sono i Cookie</strong><br>
        I cookie sono piccoli file di testo che vengono salvati sul tuo dispositivo quando visiti il nostro sito. 
        Utilizziamo i cookie per garantire una buona esperienza sul nostro sito.</p>

        <h2>Tipi di Cookie Utilizzati</h2>

        <p><strong>Cookie Necessari</strong><br>
        Questi cookie sono essenziali per il funzionamento del sito e non possono essere disattivati nei nostri sistemi, sono chiamati anche Cookie Tecnici che servono a gestire la tua sessione.</p>

        <p><strong>Cookie di Prestazione</strong><br>
        Questi cookie ci aiutano a capire come i visitatori interagiscono con il sito, raccogliendo e segnalando informazioni in modo anonimo.</p>

        <p><strong>Cookie di Funzionalità</strong><br>
        Questi cookie consentono al sito di fornire funzionalità e personalizzazione avanzate.</p>

        <p><strong>Cookie di Targeting</strong><br>
        Questi cookie possono essere impostati tramite il nostro sito dai nostri partner pubblicitari per creare un profilo dei tuoi interessi e mostrarti annunci pertinenti su altri siti.</p>

        <h2>Gestione dei Cookie</h2>
        <p>Puoi gestire le tue preferenze sui cookie attraverso le impostazioni del tuo browser. Tuttavia, la disabilitazione di alcuni cookie potrebbe influire sulla tua esperienza di navigazione sul nostro sito.</p>

        <h2>Modifiche a Questa Cookie Policy</h2>
        <p>Questa Cookie Policy verrà aggiornata periodicamente in modo da essere i più chiari e trasparenti possibili circa le nuove funzionalità che stiamo ancora implementando. Ti informeremo di eventuali modifiche pubblicando la nuova versione sul nostro sito.</p>

        <h2>Contatti</h2>
        <div class="contact-info">
            <p>Se hai domande sulla nostra cookie policy, non esitare a contattarci:</p>
            <p><strong>BETACYCLE_PADOVA</strong><br>
            Via delle Biciclette 1, Padova<br>
            <a href="mailto:policy@betacyclepadova.it"> policy&#64;betacyclepadova.it </a><br>
            0444.12345</p>
        </div>
    </div>
</body> -->