<body>
    <div class="container">
        <h1>Cookie Policy</h1>
        <p><strong>Cosa Sono i Cookie</strong><br>
        I cookie sono piccoli file di testo che vengono salvati sul tuo dispositivo quando visiti il nostro sito. 
        Utilizziamo i cookie per garantire una buona esperienza sul nostro sito.</p>

        <h2>Tipi di Cookie Utilizzati</h2>

        <p><strong>Cookie Necessari</strong><br>
        Questi cookie sono essenziali per il funzionamento del sito e non possono essere disattivati nei nostri sistemi, sono chiamati anche Cookie Tecnici che servono a gestire la tua sessione.</p>

        <p><strong>Cookie di Prestazione</strong><br>
        Questi cookie ci aiutano a capire come i visitatori interagiscono con il sito, raccogliendo e segnalando informazioni in modo anonimo.</p>

        <p><strong>Cookie di Funzionalità</strong><br>
        Questi cookie consentono al sito di fornire funzionalità e personalizzazione avanzate.</p>

        <p><strong>Cookie di Targeting</strong><br>
        Questi cookie possono essere impostati tramite il nostro sito dai nostri partner pubblicitari per creare un profilo dei tuoi interessi e mostrarti annunci pertinenti su altri siti.</p>

        <h2>Gestione dei Cookie</h2>
        <p>Puoi gestire le tue preferenze sui cookie attraverso le impostazioni del tuo browser. Tuttavia, la disabilitazione di alcuni cookie potrebbe influire sulla tua esperienza di navigazione sul nostro sito.</p>

        <h2>Modifiche a Questa Cookie Policy</h2>
        <p>Questa Cookie Policy verrà aggiornata periodicamente in modo da essere i più chiari e trasparenti possibili circa le nuove funzionalità che stiamo ancora implementando. Ti informeremo di eventuali modifiche pubblicando la nuova versione sul nostro sito.</p>

        <h2>Contatti</h2>
        <div class="contact-info">
            <p>Se hai domande sulla nostra cookie policy, non esitare a contattarci:</p>
            <p><strong>BETACYCLE_PADOVA</strong><br>
            Via delle Biciclette 1, Padova<br>
            <a href="mailto:policy@betacyclepadova.it"> policy&#64;betacyclepadova.it </a><br> <!--per fare la @ bisogna usare &#64; se no non capisce-->
            0444.12345</p>
        </div>
    </div>
</body>