body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.blue {
  color: #395ead !important;
}

nav {
  background: linear-gradient(to right, rgba(81, 115, 187, 0.8), rgba(80, 79, 79, 0.8), rgba(81, 115, 187, 0.8));
  position: fixed;
  left: 2vw; /* Utilizza un margine relativo */
  right: 2vw; /* Utilizza un margine relativo */
  top: 0;
  width: calc(100% - 4vw); /* Utilizza una larghezza relativa */
  z-index: 10000;
  border-radius: 1vw; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

nav::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 1vw; 
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(81, 115, 187, 0.8), rgba(0, 0, 0, 0.8));
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid black;
}

nav li {
  display: inline-block;
  height: 100%;
}

nav li.right {
  float: right;
}

nav li a {
  display: block;
  padding: 1vw; 
  text-decoration: none;
  color: rgb(253, 253, 253);
  font-weight: bold;
  white-space: nowrap; /* Evita il testo di andare a capo */
  overflow: hidden; /* Nasconde eventuali testi che escono dalla larghezza massima */
  text-overflow: ellipsis; /* Aggiunge i puntini di sospensione per testi che escono */
  transition: font-size 0.3s; /* Aggiungi una transizione alla dimensione del carattere */
  border: 2px solid blue;
}


#logo {
  color: #FCA311;
  font-family: 'Raleway', cursive;
  font-size: 2vw;
  padding: 0.1vw 2vw; 
  font-weight: bold;
}

svg{
  border: 2px solid red;
  width: 1.1vw;
  height: 1.1vw;
}


.searchform{
  display: flex;
  margin-left: 20px;
  border: 2px solid yellow;
}

/* Stili per il campo di ricerca */
.searchform input[type="text"] {
  width: 70%; /* Larghezza del campo di ricerca */
  padding: 10px; /* Spazio interno */
  border: 1px solid #ccc; /* Bordo */
  border-radius: 20px; /* Bordi arrotondati */
  font-size: 14px; /* Dimensione del carattere */
}

/* Stili per il pulsante di ricerca */
.searchform button[type="submit"] {
  background-color: #007bff; /* Colore di sfondo */
  color: #fff; /* Colore del testo */
  border: none; /* Rimuove il bordo */
  padding: 10px 15px; /* Spazio interno */
  border-radius: 20px; /* Bordi arrotondati */
  font-size: 14px; /* Dimensione del carattere */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  margin-left: 5px; /* Aggiunge spazio a sinistra del pulsante */
  margin-right: 5px; /* Aggiunge spazio a destra del pulsante */
}

/* Hover sul pulsante di ricerca */
.searchform button[type="submit"]:hover {
  background-color: #04080e; /* Cambia il colore di sfondo al passaggio del mouse */
}


/*quando l'user è loggato devo farglielo capire
inoltre gli tolgo la pagina di login&registration
mostrandoli un menù a tendina stile amazon dove
può gestire il proprio account, le info di contatto, le preferenze ...*/
.logged-in-icon {
  color: gold; /* Cambia il colore dell'icona */
  animation: glow 1s infinite alternate; /* Aggiunge l'effetto di brillamento */
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold, 0 0 20px gold;
  }
  to {
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold, 0 0 40px gold;
  }
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none; /* Nascondi inizialmente */
}

li:hover .dropdown-menu {
  display: block; /* Mostra quando il mouse è sopra il <li> */
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}






