<p class="new-arrivals-title">Best sellers</p>

<swiper-container  loop="true" navigation="true" slides-per-view="3" speed="500">
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-one"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p> Road-150 Red, 62 </p>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-two"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p> Mountain-100 Silver, 48 </p>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-three"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p> Touring-2000 Blue, 60 </p>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-four"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p> Road-250 Red, 58 </p>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-five"></div>
            <div class="product-text">
              <h3>Bike</h3>
              <p> Mountain-300 Black, 48 </p>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="product-card">
            <div class="product-img img-six"></div>
            <div class="product-text">
              <h3>Clothing</h3>
              <p> Short-Sleeve Classic Jersey, S </p>
            </div>
          </div>
    </swiper-slide>
</swiper-container>

