<body>

    <h2>Accessori</h2>
    
    <button (click)="GetAllAccessories()">Rimuovi Tutti i Filtri</button>
    <input  type="checkbox" [(ngModel)] = "priceAscending" (change)="ifAscending($event)" [disabled]="priceDescending"> Prezzo Crescente 
    <input  type="checkbox" [(ngModel)] = "priceDescending" (change)="ifDescending($event)" [disabled]="priceAscending"> Prezzo Decrescente         
   
    <button (click)="GetAccessoriesWithFilters()">Filtra</button>  
    
    <div class='parent'>
        <div class='child'>
            <ul> <p>Colors</p> 
                <li *ngFor="let col of accessoryProperties.availableColors">
                    <input type="checkbox" [(ngModel)]="selectedColors[col]"> {{col}}
                </li>
            </ul>            
        </div>
        
        <div class='child'>
            <ul> <p>Categories</p> 
                <li *ngFor="let cat of accessoryProperties.availableCategories">
                    <input type="checkbox" [(ngModel)]="selectedCategories[cat]"> {{cat}}
                </li>
            </ul>            
        </div>

        <div class='child'>
            <ul> <p>Price</p> 
                <li *ngFor="let pRange of priceIntervals, index as i">
                    <input type="checkbox" [(ngModel)]="selectedPriceRange[i]"
                        (change)="checkPrice($event)" [disabled]="checkedPrices[i]"> 
                        {{pRange}} $
                        
                </li>
            </ul>            
        </div>
    </div>

    <pre *ngIf="allAccessories.length>0">
        <p>{{allAccessories.length}} Risultati Trovati</p>
        <li *ngFor="let a of allAccessories" > {{a.productName}} - {{a.listPrice}}$ - COLOR {{a.color}} - CATEGORY {{a.productCategory}}  </li>
    </pre>
    
</body>
