body{
    padding-top: 10%;
    text-align: center;
}

p {    
    font-weight: bold;}

h2 {
    text-align: center;
}

pre{
    text-align: center;
}

div {
    text-align: center;
}

button {
    margin: 5px;
}

/* li {
    list-style-type: none;
} */

ul {
    list-style-type: none;
    font-family: 'Raleway', cursive;
}

.parent {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
.child {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: middle;
  }