<body>

    <h2>Biciclette</h2>
   
    <button (click)="GetBikesWithFilters()">Filtra</button>  
    
    <button (click)="GetAllBikes()">Rimuovi Tutti i Filtri</button>
    
    <div class='parent'>
        <div class='child'>
            <ul> <p>Colors</p> 
                <li *ngFor="let col of bikeProperties.availableColors">
                    <input type="checkbox" [(ngModel)]="selectedColors[col]"> {{col}}
                </li>
            </ul>            
        </div>
        
        <div class='child'>
            <ul> <p>Categories</p> 
                <li *ngFor="let cat of bikeProperties.availableCategories">
                    <input type="checkbox" [(ngModel)]="selectedCategories[cat]"> {{cat}}
                </li>
            </ul>            
        </div>

        <div class='child'>
            <ul> <p>Sizes</p> 
                <li *ngFor="let s of bikeProperties.availableSizes">
                    <input type="checkbox" [(ngModel)]="selectedSizes[s]"> {{s}}
                </li>
            </ul>            
        </div>

        <div class='child'>
            <ul> <p>Price</p> 
                <li> <input  type="checkbox" [(ngModel)] = "priceAscending" [disabled]="priceDescending"> Prezzo Crescente </li>
                <!-- (change)="ifAscending($event)" -->
                <li> <input  type="checkbox" [(ngModel)] = "priceDescending" [disabled]="priceAscending"> Prezzo Decrescente </li>          
                <!-- (change)="ifDescending($event)" -->
                <br>
                <li *ngFor="let pRange of priceIntervals, index as i">
                    <input type="checkbox" [(ngModel)]="selectedPriceRange[i]"> {{pRange}} $
                        <!-- (change)="checkPrice($event)" [disabled]="checkedPrices[i]" -->                        
                </li>
            </ul>          
        </div>

        <div class='child'>
            <ul> <p>Weight</p> 
                <li *ngFor="let wRange of weightIntervals, index as i">
                    <input type="checkbox" [(ngModel)]="selectedWeightRange[i]"> {{wRange}} kg
                        <!-- (change)="checkWeight($event)" [disabled]="checkedWeights[i]"  -->
                        
                        
                </li>
            </ul>            
        </div>
    </div>

    <pre *ngIf="allBikes.length>0">
        <p>{{allBikes.length}} Risultati Trovati</p>
        <li *ngFor="let b of allBikes" > {{b.productName}} - {{b.listPrice}}$ - COLOR {{b.color}} - CATEGORY {{b.productCategory}} - SIZE {{b.size}} - WEIGHT {{b.weight}} g </li>
    </pre>
    
</body>
