
<!-- Utilizzo di swiper per la creazione del carosello Categorie -->

<div class="cont">
  <p class="new-arrivals-title">Naviga nelle nostre CATEGORIE</p>
  <swiper-container loop="true" navigation="true" slides-per-view="8" speed="500" autoplay="false">
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="product-card extend-product-card">
        <img src="assets/Bike.png">
        <p>NomeCategoria</p>
      </div>
    </swiper-slide>
  </swiper-container>
</div>